<div class="container mt-4" id="foto-intro-cristian">
    <div class="row align-items-center">
        <!-- Columna para la imagen y texto asociado -->
        <div class="col-12 col-md-4 d-flex flex-column align-items-center text-center" id="foto-cristian">
            <img src="https://avatars.githubusercontent.com/u/134114800?v=4" class="img-fluid rounded-circle mb-3" alt="Foto de Cristian Mejia">
        </div>

        <!-- Columna para el texto de introducción -->
        <div class="col-12 col-md-8">
            <div id="intro-cristian">
                <h1 class="display-4 text-white">Soy <strong>Cristian Mejia</strong></h1>
                <h2 class="text-white">Soy un desarrollador junior, especializado en <span class="font-weight-bold" style="color:red">Laravel</span> y nuevo en <span class="font-weight-bold" style="color: purple">.NET</span></h2>
            </div>
        </div>
    </div>
</div>
