@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card mb-3" style="max-width: 800px; margin: auto;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://avatars.githubusercontent.com/u/134114800?v=4" class="img-fluid rounded-start" alt="Foto de Cristian Mejia">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="display-4">Soy <strong>Cristian Mejia</strong></h1>
                    <h2>Soy un desarrollador junior, especializado en <span style="font-weight: bold; color: red;">Laravel</span> y nuevo en <span style="font-weight: bold; color: purple;">.NET</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-5 d-flex justify-content-center text-center" id="sobre-mi">
    <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-user">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
        <span class="ms-2">Este es un texto al lado de la imagen</span>
    </div>
</div>




